* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	height:100%;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #1e90ff;
    color: #fff;
    display:flex;
    align-items:center;
    padding-right:20px;
    justify-content: flex-end;
}

#logoutBtn {
    background-color: #FF6B6B ; 
    color: #ffffff;
    padding: 10px 20px;
    border :none;
    border-radius: 5px; 
    cursor: pointer; 
}

.main {
    display: flex;
    flex-direction:column;
    margin:20px;
    height: 80vh;
}


#addCarBtn {
    color: #ffffff;
    background-color: #1e90ff;
    padding: 10px 20px;
    border :none;
    border-radius: 5px; 
    cursor: pointer;
    width: 200px;
}

#resultsTable tr:hover {
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}




.footer {
    height: 40px;
    background-color: #1e90ff;
    color: #fff;
    flex-shrink: 0;
}


.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




