<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<html>
<head>
<link th:href="@{/create-view-update.css}" rel="stylesheet">
</head>
<body>

	<div class="header">
		<button id="logoutBtn" name='logoutButton' onclick="logout();">
			Αποσύνδεση</button>
	</div>

	</br>
	<h1>Προσθήκη Αυτοκινήτου</h1>
	<div class="main">
		<div class="form">
			<table>
				<tr>
					<td>Μάρκα:</td>
					<td><input type='text' id='brand'></td>
				</tr>
				<tr>
					<td colspan="2" id=brandError style="color: red;"></td>
				</tr>
				<tr>
					<td>Μοντέλο:</td>
					<td><input type='text' id='model'></td>
				</tr>
				<tr>
					<td colspan="2" id=modelError style="color: red;"></td>
				</tr>
				<tr>
					<td>Κινητήρας:</td>
					<td><input type='number' id='engine'></td>
				</tr>
				<tr>
					<td colspan="2" id=engineError style="color: red;"></td>
				</tr>
				<tr>
					<td>Καύσιμο:</td>
					<td><input type='text' id='fuel'></td>
				</tr>
				<tr>
					<td colspan="2" id=fuelError style="color: red;"></td>
				</tr>
				<tr>
					<td>Θέσεις:</td>
					<td><input type='number' id='seats'></td>
				</tr>
				<tr>
					<td colspan="2" id=seatsError style="color: red;"></td>
				</tr>
				<tr>
					<td>Πληροφορίες:</td>
					<td><input type='text' id='info'></td>
				</tr>
				<tr>
					<td>Τιμή:</td>
					<td><input type='number' id='price'></td>
				</tr>
				<tr>
					<td colspan="2" id=priceError style="color: red;"></td>
				</tr>
				<tr>
					<td>Ποσότητα :</td>
					<td><input type='number' id='amount'></td>
				</tr>
				<tr>
					<td colspan="2" id=amountError style="color: red;"></td>
				</tr>
			</table>
		</div>
		<div class="btnContainer">
			<button class="btn" name='create' onclick="addCar();">Προσθήκη</button>
			<button class="btn" onclick="back();">Πίσω</button>
		</div>
	</div>
	<div class="footer"></div>
	<script>
			const token = new URLSearchParams(window.location.search).get('token');
		
			function addCar() {		
				
				 const errorFields = ["brandError", "modelError", "engineError", "fuelError", "seatsError", "priceError", "amountError" ];
				    errorFields.forEach(field => {
				        const errorElement = document.getElementById(field);
				        if (errorElement) {
				            errorElement.textContent = "";
				        }
				    });
				    
				var settings = {
					"url": "/dealership/addCar?token=" + token,
					"method": "POST",
					"timeout": 0,
					"headers": {
					"Content-Type": "application/json"},
					"data": JSON.stringify({
						"brand": document.getElementById("brand").value,
                        "model": document.getElementById("model").value,
						"engine": document.getElementById("engine").value,
                        "fuel": document.getElementById("fuel").value,
                        "seats": document.getElementById("seats").value,
                        "info": document.getElementById("info").value,
                        "price": document.getElementById("price").value,
                        "amount": document.getElementById("amount").value
				  }),
				};
				$.ajax(settings).done(function (response) {
					sessionStorage.setItem("success", response);
					window.location.href = "/ui/dealershipHomePage?token=" + token;
				})
				
				.fail(function (xhr, status, error) {
					const errors = xhr.responseJSON;
					 for (const [field, message] of Object.entries(errors)) {
                         const errorElement = document.getElementById(`${field}Error`);
                         if (errorElement) {
                             errorElement.textContent = message;
                         }
                     }
				
				});
			}

			function logout() {
			var settings = {
				"url": "/logout?token=" + token,
				"method": "GET",
				"timeout": 0
			};
			$.ajax(settings).done(function (response) {
				window.location.href = '/ui/login';
			});
		}

			function back(){
				window.location.href = '/ui/dealershipHomePage?token=' + token;
			}
		</script>
</body>
</html>