<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<html>
	<head>
	</head>
	<body>
		<script>
			function register(){				
				var settings = {
					"url": "/clientRegister",
					"method": "POST",
					"timeout": 0,
					"headers": {
					"Content-Type": "application/json"},
					"data": JSON.stringify({
						"firstName": document.getElementById("fname").value,
						"lastName": document.getElementById("lname").value,
						"afm": document.getElementById("afm").value,
						"password": document.getElementById("password").value,
						"email": document.getElementById("email").value,
				  }),
				};
				
				$.ajax(settings).done(function (response) {
					console.log("registration success");
					window.location.href = "/ui/login";
				});
			}
		
		</script>	
		<table>
			<tr>
				<td> Όνομα: </td>
				<td> <input type='text' id='fname' />
			</tr>
			<tr>
				<td> Επώνυμο: </td>
				<td> <input type='text' id='lname' />
			</tr>
            <tr>
				<td> ΑΦΜ: </td>
				<td> <input type='text' id='afm' />
			</tr>
            <tr>
				<td> email: </td>
				<td> <input type='text' id='email' />
			</tr>
            <tr>
				<td> Password: </td>
				<td> <input type='password' id='password' />
			</tr>
		</table>
		<button name='register' onclick="register();">Εγγραφή</button>
		<div>
			<p>Είστε εγγεγραμμένος;<a href="/ui/login">Σύνδεση</a></p>
		</div>		

	</body>
</html>