<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<html>
	<head>
		<link th:href="@{/login-reg.css}" rel="stylesheet">
		<!--<link rel="stylesheet" href="C:\Users\Tasos\eclipse-workspace\mai-uom\src\main\resources\static\login-reg.css">-->
	</head>
	<body>
		

		<div class="header"></div>
			<div class="main">
				</br>
				<h2>Εγγραφή Αντιπροσωπείας</h2>
			</br>
				<div class="mainContainer">
					<div class="form">
						<table>
							<tr>
								<td> Επωνυμία: </td>
								<td> <input type='text' id='name'> </td>
							</tr>
							<tr>
								<td> ΑΦΜ: </td>
								<td> <input type='text' id='afm'> </td>
							</tr>
							<tr>
								<td> Ιδιοκτήτης: </td>
								<td> <input type='text' id='owner'> </td>
							</tr>
							<tr>
								<td> Password: </td>
								<td> <input type='password' id='password'> </td>
							</tr>
						</table>
						</br>
						<button name='register' onclick="register();">Εγγραφή</button>
						</br></br>
						<div>
							<p>Είστε εγγεγραμμένος;<a href="/ui/login">Σύνδεση</a></p>
						</div>
						</br>
					</div>
				</div>	
			</div>
		<div class="footer"></div>
		
		<script>
			function register() {				
				var settings = {
					"url": "/dealershipRegister",
					"method": "POST",
					"timeout": 0,
					"headers": {
					"Content-Type": "application/json"},
					"data": JSON.stringify({
							"name": document.getElementById("name").value,
							"owner": document.getElementById("owner").value,
							"afm": document.getElementById("afm").value,
							"password": document.getElementById("password").value
					  }),
				};
				$.ajax(settings).done(function (response) {
					sessionStorage.setItem("registrationSuccess", "Ο χρήστης δημιουργήθηκε!");
					window.location.href = "/ui/login";
				});
			}
		</script>		
	</body>
</html>